# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# # Set the date column as the DataFrame index
# df_date=df.set_index('date')
# df_date.head()

In [5]:
# # Drop the date column
# df_date.reset_index(drop=True, inplace=True)
# df_date.head()

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
Aug= df['date'].dt.month.between(8,8)
df_Aug = df.loc[Aug]
df_Aug.head()
df_mean=df_Aug['tobs'].mean()
df_mean

76.41245376078915

In [10]:
# Identify the average temperature for June
June= df['date'].dt.month.between(6,6)
df_June = df.loc[June]
df_June.head()
df_mean=df_June['tobs'].mean()
df_mean

74.94411764705882

In [11]:
# Identify the average temperature for December
Dec= df['date'].dt.month.between(12,12)
df_Dec = df.loc[Dec]
df_Dec.head()
df_mean=df_Dec['tobs'].mean()
df_mean

71.04152933421226

In [12]:
# Create collections of temperature data
df_June_tobs=df_June['tobs']
df_Dec_tobs=df_Dec['tobs']

In [13]:
# Run paired t-test
stats.ttest_ind(df_June_tobs, df_Dec_tobs)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

In [14]:
# P value is very low and not much relation between them