# Bonus: Temperature Analysis I

In [28]:
import pandas as pd
from datetime import datetime as dt

In [29]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [30]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [31]:
# Set the date column as the DataFrame index
df_date=df.set_index('date')
df_date.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [20]:
# # Drop the date column
# df_date.reset_index(drop=True, inplace=True)
# df_date.head()

### Compare June and December data across all years

In [21]:
from scipy import stats

In [45]:
junedates_df=df_date[df_date.index.strftime("%m")=="06"]
decdates_df=df_date[df_date.index.strftime("%m")=="12"]
decdates_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [54]:
june_year=junedates_df.groupby(junedates_df.index.strftime("%y"))
june_year_mean = june_year['tobs'].mean()
june_year_mean

date
10    74.925620
11    73.938326
12    74.000000
13    74.599078
14    75.027907
15    74.990148
16    75.175258
17    77.219895
Name: tobs, dtype: float64

In [55]:
dec_year=decdates_df.groupby(decdates_df.index.strftime("%y"))
dec_year_mean = dec_year['tobs'].mean()
dec_year_mean

date
10    70.208511
11    70.820628
12    71.188073
13    71.094017
14    69.896861
15    73.423913
16    71.130000
Name: tobs, dtype: float64

In [22]:
# Filter data for desired months
# Aug= df['date'].dt.month.between(8,8)
# df_Aug = df.loc[Aug]
# df_Aug.head()
# df_mean=df_Aug['tobs'].mean()
# df_mean

76.41245376078915

In [24]:
# June= df['date'].dt.month.between(6,6)
# df_June = df.loc[June]
# df_June.head()
# df_mean_June=df_June['tobs'].mean()
# df_mean_June

74.94411764705882

In [25]:
# # Identify the average temperature for December
# Dec= df['date'].dt.month.between(12,12)
# df_Dec = df.loc[Dec]
# df_Dec.head()
# df_mean_dec=df_Dec['tobs'].mean()
# df_mean_dec

71.04152933421226

In [26]:
# # Create collections of temperature data
# df_June_tobs=df_June['tobs']
# df_Dec_tobs=df_Dec['tobs']

In [59]:
# Run paired t-test
stats.ttest_ind(june_year_mean, dec_year_mean, equal_var=False)

Ttest_indResult(statistic=6.9218571747346616, pvalue=1.4518830376438736e-05)

### Analysis

In [57]:
# P value is very low . so it shows that there is significant difference between June and December temperatures